.idea
/venv/

/python/Main track/*/.idea/
/python/Main track/*/.exercism/
/python/Main track/*/.pytest_cache/

/python/Side exercises/Easy/*/.idea/
/python/Side exercises/Easy/*/.exercism/
/python/Side exercises/Easy/*/.pytest_cache/
/python/Side exercises/Medium/*/.idea/
/python/Side exercises/Medium/*/.exercism/
/python/Side exercises/Medium/*/.pytest_cache/

/javascript/Main track/*/node_modules/
/javascript/Side exercises/*/node_modules/
/javascript/Main track/*/package-lock.json
/javascript/Side exercises/*/package-lock.json
/javascript/Main track/*/.exercism/
/javascript/Side exercises/*/.exercism/
